body {
    background-color: black;
}

div {
    margin-top: 35px;
    text-align: center;
    color: white;
    font-family: Cubano;
}

p {
    font-size: 8em;
}

button {
    width: 200px;
    height: 200px;
    font-size: 8em;
    font-family: Cubano;
    color: white;
    text-align: center;
    background-color: transparent;
}